{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" integrity="sha512-T3VL1q6jMUIzGLRB9z86oJg9PgF7A55eC2XkB93zyWSqQw3Ju+6IEJZYBfT7E9wOHM7HCMCOZSpcssxnUn6AeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block title %}Reservation
{% endblock %}
{% block stylesheet %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
	<div
		class="container mt-4 text-center mb-4" style="min-height: 80vh;">
     {# <div  id="today_date" class="hidden"></div>  #}

		<h1 class="h5-page text-light reserve_title my-4 fs-1">Page de la réservation</h1>
		<p class="text-center text-light fs-4 reserve_text">Merce d'avance de précisier en commaintaire le nombre d'enfants présent à table (s'il y en a)!
			<br>
			Pour tout retard de plus de 20 min votre table sera donnée à d'autre client!!
		</p>
		  <div id="lunchAvailPlacesInfo" class="hidden text-light fs-4"></div>
			<div id="dinnerAvailPlacesInfo" class="hidden text-light fs-4"></div>
			<div id="availPlacesError" class="hidden fs-3" style="font-weight: bold;">
			<span style="color: red;">Pas de places disponible pour cette date et cette heure. </span>
			<br>
			<span style="color: green;" class="hidden" id="anotherDateMessage">Veuillez choisir une autre date.</span>
			<br>
			<span style="color: green;" id="redirectMessage" class="hidden">Rédirection sur la page de la réservation </span></div>
		{{ form_start(form) }}

{# ***************************** #}
 <table id="table" 
 class="hidden"
 >
        <thead>
            <tr class="text-light fs-4">   
						{# <th class="px-4">Nom</th>      #}
                <th class="px-4">Places</th>
                <th class="px-4">Date</th>
                <th class="px-4">Heure</th>
								
							
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations_by_order %}
          <tr classe="reserve_line">
				   	{# <td class="fullName">{{ reservation.fullName }}</td> #}
            <td class="nbPeople">{{ reservation.nbPeople }}</td>
            <td class="reserve_date">{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
            <td class="hour">{{  reservation.lunchHours ? reservation.lunchHours : reservation.dinnerHours}}<td>
            
          </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
		{# *********************************************** #}
		<div class="row form-row mt-4">

			<div class="form-group col-md-6 nbPeople_date" required>
				{{ form_label(form.nbPeople) }}
				<div class="nbPeople" required>{{ form_widget(form.nbPeople) }}</div>
				<div class="form-error">
					{{ form_errors(form.nbPeople) }}
				</div>
				
			</div>


			<div class="form-group col-md-6 mb-4 nbPeople_date">
				<input type="text" name="date_debut" autocomplete="off" class="form-select fs-4" id="js-datepicker" placeholder="Choisir la date">

			</div>
		</div>
		<div><p class="hidden mt-4" style="color: red; font-size: 2em; font-weight: bold;" id="alert_nbPeople">"Veuillez choisir le nombre de couverts. <br><span style="color: green;"  id="nbPeople_redirection">Rédirection sur la page de réservation."</span></p>
</div>

		<div class="fs-2 mt-4 mb-4 hidden" id="message_closed" style="color: white; border: 2px solid white; padding-top: 15px;">Désole,<br> le restaurant est fermé les Mercredis</div>
	
		<br>
		<br>
		{# *************************************** #}
		
		<div class="all_slots">
		
      <div id="lunch_places_avail"  style="color: red;" class="fs-2 fw-4 bg-light">
			</div>
			<div class="row d-flex flex-wrap lunch_slots mb-4" id="lunch_slots_block">
				<div class="form-group text-light bold text-start day_slot
									hidden
									">
					{{ form_label(form.lunchHours) }}
					<br>
					<div class="choiceList-wrapper" style="border: none;">
						{% for field in form.lunchHours %}
							<div class="btn btn_slot lunch_slot_btn  d-flex text-center slot mt-4" type="button" style="min-width: 15%; background-color: red;margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px; cursor: pointer;">
								<div class="lunch_slot_btn wbtn_lu">{{ form_widget(field) }}</div>
								<div class="lunch_slot_btn lbtn_lu ac_btn">{{ form_label(field) }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<p class="hidden alert_res_time mt-4 fs-3 text-center" >Veuillez choisir l'heure d'arrivée</p>
		</div>
<div id="dinner_places_avail" class="fs-2 fw-4 bg-light"></div>
	<div class="row d-flex flex-wrap dinner_slots " id="dinner_slots_block">
		<div class="form-group text-light bold text-start evening_slot
							hidden
							">
			{{ form_label(form.dinnerHours) }}
			<br>
			<div class="choiceList-wrapper" style="border: none;">
				{% for field in form.dinnerHours %}
					<button class="btn btn_slot dinner_slot_btn d-flex text-center slot d-flex" type="button" style="min-width: 15%; background-color: red; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px; cursor: pointer;" id="dinnerTime">
						<div class="dinner_slot_btn wbtn_di">{{ form_widget(field) }}</div>
						<div class="dinner_slot_btn lbtn_di ac_btn">{{ form_label(field) }}</div>
					</button>
				{% endfor %}
			</div>
		</div>

	</div>
</div>

<div class="form-group text-light info
	hidden 
	">
<div class="label fs-2 fw-bolder">{{ form_label(form.allergies) }}</div>
<br>
<div class="choiceList-wrapper d-flex flex-column text-start" 
style="border: none;  transform: translateX(40%);">
	{% for field in form.allergies %}
		<div style="min-width: 15%; padding: 0 10px" class="fs-4">
			{{ form_widget(field) }}
			{{ form_label(field) }}
		</div>
	{% endfor %}
</div></div><div class="form-group text-start info
				hidden
				">
<div class="form-group col-sm-12 col-6  mb-4">
	{{ form_label(form.fullName) }}
	{{ form_widget(form.fullName) }}
	<div class="form-error">
		{{ form_errors(form.fullName) }}
	</div>
</div></div><div class="form-group col-sm-12 col-6 mb-4 info
	hidden
	">
{{ form_label(form.nbChildren) }}
<div class="nbChildren">
	{{ form_widget(form.nbChildren) }}
</div>
<div class="form-error">
	{{ form_errors(form.nbChildren) }}
</div>
<div class="form-group mb-4 info p-4 d-1 text-bold submit_btn">
	{{ form_row(form.submit) }}
</div>

{{ form_end(form) }}


</div>
<div class="text-center">
<button type="button" class="btn btn-info mt-4  hidden" style="width: 50%;"  id="btn_reload" onclick="reload();">Reinitialiser</button></div>
</div>


{% endblock %}